article {
  margin: auto;
  max-width: 1140px;
  padding: 80px 50px 0px 50px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  padding-bottom: 40px;
  margin: 0;
}

article p {
  width: 50%;
}

/*
 * Slideshow
 */

.slideshow_container {
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
  position: relative;
}

.slide img {
  width: 100%;
}

.slide img.vertical {
  display: block;
  width: auto;
  height: 100%;
  max-height: 700px;
  margin: auto;
}

.slide p {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  margin: 0;
  padding: 15px 22px;
  border-radius: 90px;
  color: #2625252;
  background-color: rgba(253, 250, 240, 0.8);
  font-weight: bold;
  font-size: 18px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: #FFD855;
}

.caption {
  margin: 0;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*
 * Responsive stuff
 */

@media all and (max-width: 939px) {
  article {
    padding-left: 50px;
    padding-right: 50px;
  }

  /*
   * Center the paragraphs
   */

  article p {
    width: 100%;
  }

  .slide img.vertical {
    max-height: 450px;
  }

  .prev, .next {
    top: 35%;
  }

  .left {
    padding-right: 0;
  }

  .right {
    padding-left: 0;
    padding-top: 26px;
  }
}

@media all and (max-width: 559px) {
  article {
    padding-left: 0;
    padding-right: 0;
  }

  article h2 {
    margin-left: 20px;
    margin-right: 20px;
  }

    .slide img.vertical {
    max-height: 250px;
  }

  .prev, .next {
    top: 30%;
    padding: 9px 16px;
  }

  .left {
    padding-left: 20px;
    padding-right: 20px;
  }

  .right {
    padding-left: 20px;
    padding-right: 20px;
  }
}